In [31]:
import pandas as pd

oorjja  = pd.read_csv('Oorjja.csv')
oorjja
oorjja.head()
oorjja.tail()
oorjja.head(2)
oorjja.tail(3)
oorjja.head(4)

,Timestamp,NAME,Place,Designation,GENDER,EDUCATION,Age,Number of members in your family ?,Size of your shirt?,Number of knives at your home?,Number of chairs in your home?,Which is your favorite color,How many liters of milk are being bought every day in your house?,Height in cm,Weight in kg
0,2021/07/27 2:47:35 PM GMT+5:30,Anjali Manuel,Kannur,Student,FEMALE,Post graduation(PG),25,4,L,7,15,Black,1 Liter,156,56
1,2021/07/27 2:48:44 PM GMT+5:30,Mukund Bhaskaran,Eranakulam,Student,MALE,Graduation(Degree)(Bcom),37,5,XL,3,9,Blue,3,185,92
2,2021/07/27 2:50:08 PM GMT+5:30,Akshaya R,Thiruvananthapuram,Student,FEMALE,12 (higher secondary),22,My Family- 3,XL,4,9,"Blue, Red",1,152,56
3,2021/07/27 2:50:30 PM GMT+5:30,Anusree,Chalakudy,Teacher,FEMALE,Post graduation(PG),25,5,L,3,12,Blue,1,163,60

In [32]:
oorjja.columns

Index(['Timestamp', 'NAME', 'Place', 'Designation', 'GENDER', 'EDUCATION',
       'Age', 'Number of members in your family ?', 'Size of your shirt?',
       'Number of knives at your home?', 'Number of chairs in your home?',
       'Which is your favorite color',
       'How many liters of milk are being bought every day in your house?',
       'Height in cm', 'Weight in kg'],
      dtype='object')

In [33]:
oorjja.shape
# 19 rows and 15 columns

(19, 15)

In [34]:
oorjja.dtypes

Timestamp                                                            object
NAME                                                                 object
Place                                                                object
Designation                                                          object
GENDER                                                               object
EDUCATION                                                            object
Age                                                                   int64
Number of members in your family ?                                   object
Size of your shirt?                                                  object
Number of knives at your home?                                       object
Number of chairs in your home?                                       object
Which is your favorite color                                         object
How many liters of milk are being bought every day in your house?    object
Height in cm                                                          int64
Weight in kg                                                          int64
dtype: object

In [35]:
oorjja.mean()

C:\Users\ajesh\AppData\Local\Temp\ipykernel_16540\1207391092.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  oorjja.mean()

Age              24.789474
Height in cm    159.789474
Weight in kg     56.263158
dtype: float64

In [36]:
oorjja.median()

C:\Users\ajesh\AppData\Local\Temp\ipykernel_16540\3903466364.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  oorjja.median()

Age              23.0
Height in cm    159.0
Weight in kg     56.0
dtype: float64

In [37]:
#oorjja.mode()

In [41]:
oorjja.min()

Timestamp                                                            2021/07/27 2:47:35 PM GMT+5:30
NAME                                                                                       ANJU P K
Place                                                                                     Alappuzha
Designation                                                                                 Student
GENDER                                                                                       FEMALE
EDUCATION                                                                     12 (higher secondary)
Age                                                                                              20
Number of members in your family ?                                                                3
Size of your shirt?                                                                               L
Number of knives at your home?                                                                   15
Number of chairs in your home?                                                                   10
Which is your favorite color                                                                  Black
How many liters of milk are being bought every day in your house?                                 1
Height in cm                                                                                    144
Weight in kg                                                                                     45
dtype: object

In [40]:
oorjja.max()

Timestamp                                                            2023/04/04 11:31:38 AM GMT+5:30
NAME                                                                                    Vince Wilson
Place                                                                                       thrissur
Designation                                                                                  Teacher
GENDER                                                                                          MALE
EDUCATION                                                                        Post graduation(PG)
Age                                                                                               37
Number of members in your family ?                                                              four
Size of your shirt?                                                                               XS
Number of knives at your home?                                                                  four
Number of chairs in your home?                                                                 eight
Which is your favorite color                                                                   white
How many liters of milk are being bought every day in your house?                                 No
Height in cm                                                                                     185
Weight in kg                                                                                      92
dtype: object